.navbar {
  width: 100%;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

body {
  margin: 0;
  background-color: bisque;
}

.div-2 {
  margin-top: 20px;
}

.last-div {
  margin-bottom: 30px;
}
p {
  font-size: 20px;
  margin: 0;
}

.form-container {
  display: grid;
  place-content: center;
  background-color: white;
  width: 70%;
  margin: auto;
  margin-top: 10px;
}
